<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>石家庄市第三十五中学_石家庄35中河北省升学率最高的学校</title>
    <meta name="keywords" content="石家庄市第三十五中学_石家庄35中河北省升学率最高的学校">
    <meta name="description" content="石家庄市第三十五中学(石家庄美术职业学校),创建于1970年.是一所全日制国办学校,是河北省创办最早,升学率最高,省内唯一的一所国家级重点美术职业学校.石家庄35中莘莘学子的理想殿堂!">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/highlightjs@9/styles/github.css" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/layui.css">

    <style>
        .layui-form-label {
            width: 100px;
            height: 50px;
            padding-right: 0px;
            white-space: normal !important;
        }
        
        .distpicker {
            padding-left: 10px;
        }
    </style>
</head>

<body>
    <div class="app">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>报名信息登记</legend>
        </fieldset>

        <form class="layui-form" method='GET' action="" id="form" :rules="formRules">
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">*姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入姓名" class="layui-input" v-model="name" @click="fletter(name,false,'aaa')">
                    </div>
                    <!-- <div v-text='nametext'></div> -->
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*性别：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="男" checked='true'>
                        <input type="radio" name="sex" value="女" title="女" v-model="sex">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*身份证号：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入身份证号" class="layui-input" v-model="id">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*既往病史：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入既往病史" class="layui-input" v-model="disease">
                    </div>
                </div>

            </div>
        </form>
        <form class="form-inline mt-2 mb-4">
            <label class="layui-form-label">*户籍地址：</label>
            <div data-toggle="distpicker" class="distpicker">
                <select class="form-control" data-province="---- 选择省 ----" v-model="homeaddress1"></select>
                <select class="form-control" data-city="---- 选择市 ----" v-model="homeaddress2"></select>
                <select class="form-control" data-district="---- 选择区 ----" v-model="homeaddress3"></select>
            </div>
            <!-- <input type="text" placeholder="请输入详细地址（具体到村）" class="layui-input" style="width: 200px;" v-model="homeaddressxiangxi"> -->
        </form>
        <form class="layui-form" method='GET' action="" id="form">
            <div class="layui-form-item">
                <label class="layui-form-label">*详细居住地址：</label>
                <div class="layui-input-block">
                    <input type="text" placeholder="请输入详细居住地址" class="layui-input" v-model="liveaddress">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">家长姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入家长姓名" class="layui-input" v-model="goodmanname">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">家长手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入家长手机号" class="layui-input" v-model="goodmannum">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*初中就读学校：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入初中就读学校" class="layui-input" v-model="school">
                    </div>
                </div>
            </div>
        </form>
        <form class="form-inline mt-2 mb-4">
            <label class="layui-form-label">*初中学籍地址：</label>
            <div data-toggle="distpicker" class="distpicker">
                <select class="form-control" data-province="---- 选择省 ----" v-model="schooladdress1"></select>
                <select class="form-control" data-city="---- 选择市 ----" v-model="schooladdress2"></select>
                <select class="form-control" data-district="---- 选择区 ----" v-model="schooladdress3"></select>
            </div>
            <!-- <input type="text" placeholder="请输入学校名称" class="layui-input" style="width: 200px;" v-model="schooladdressxiangxi"> -->
        </form>

        <form class="layui-form" method='GET' action="" id="form">
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">*中考美术成绩：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入中考美术成绩" class="layui-input" v-model="artscore">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*中考文化成绩：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入中考美术成绩" class="layui-input" v-model="culturalscore">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*中考美术准考证号：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入美术中考准考证号" class="layui-input" v-model="artid">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*中考文化课准考证号：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入中考文化课准考证号" class="layui-input" v-model="culturalid">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">美术学习课外班名称：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入美术学习课外班名称" class="layui-input" v-model="kwbname">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">美术课外班教师姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入老师姓名" class="layui-input" v-model="teachername">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">美术课外班教师电话：</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入美术课外班教师电话" class="layui-input" v-model="teachernum">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <div class="layui-input-block ">
                        <input type="button" value="立即提交" class="layui-btn" @click="useaxios">
                        <!-- <button id="btn" type="submit" class="layui-btn" @click="useaxios">立即提交</button> -->
                        <button type="reset " class="layui-btn layui-btn-primary ">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>

    </div>

    <!-- 网络请求库 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script type="text/javascript" src="./js/layui.js"></script>
    <script src="https://unpkg.com/jquery@3/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="js/distpicker.js"></script>
    <script src="js/main.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="./js/vue.js"></script>
    <script src="./js/index.js"></script>

</body>

</html>